[submodule "linter-autocomplete-jing"]
	path = linter-autocomplete-jing
	url = https://github.com/aerhard/linter-autocomplete-jing.git
[submodule "jing-trang"]
	path = jing-trang
	url = https://github.com/aerhard/jing-trang.git
[submodule "xml-demo-package"]
	path = xml-demo-package
	url = https://github.com/aerhard/xml-demo-package.git
[submodule "xml-common-schemata"]
	path = xml-common-schemata
	url = https://github.com/aerhard/xml-common-schemata.git
[submodule "xerces2-j"]
	path = xerces2-j
	url = https://github.com/aerhard/xerces2-j.git
